.about-content {
    padding: 0 6rem 6rem 6rem;
    color: var(--white);
}

.about-content .about-header {
    display: flex;
    margin: 0 -6rem;
    margin-bottom: 3rem;
    background: var(--dark-blue);
    padding: 6rem;
    padding-bottom: 1rem;
}

.about-content .about-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding-bottom: 10rem;
}

.about-content .about-line .left,
.about-content .about-line .right {
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
}

.about-content .about-line .right img {
    object-fit: cover;
    height: 30rem;
    width: 30rem;
    margin-left: auto;
}

@media(max-width: 1000px) {
    .about-content {
        padding: 0 3rem 3rem 3rem;
    }
    .about-content .about-line {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .about-content .about-line .right img {
        width: 100%;
        max-width: 25rem;
        height: auto;
        margin: 0;
    }
}