.about-content {
    padding: 0 10vw 10vw 10vw;
    color: var(--white);
}

.about-content .about-header {
    display: flex;
    margin: 0 -10vw;
    margin-bottom: 3rem;
    background: var(--extra-black);
    padding: 10vw;
    padding-bottom: 1rem;
}

.about-content .about-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    padding-bottom: 10vw;
}

.about-content .about-line .left,
.about-content .about-line .right {
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
}

.about-content .about-line .right img {
    object-fit: cover;
    height: 40vw;
    width: 40vw;
    margin-left: auto;
}

@media(max-width: 700px) {

    .about-content .about-line {
        grid-template-columns: 1fr;
    }
    .about-content .about-line .right img {
        width: 100%;
        max-width: 25rem;
        height: auto;
        margin: 0;
    }
}