.menu-item {
    list-style: none;
    transition: background 0.5s;
    position: relative;
    height: 100%;
    width: 100%;
}

.menu-item .menu-background {
    height: 100%;
    width: 100%;
    position: absolute;
}

.menu-item a {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    text-align: center;
    text-decoration: none;
    font-size: 125%;
    color: white;
    background-size: 10%;
    border: solid 0.1px var(--dark-blue);
}

.menu-item a p {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-5%);
    color: var(--extra-white);
}

.menu-item a:hover {
    background: var(--menu-dark-blue);
}

@media(max-width: 700px) {
    .menu-item a {
        font-size: 100%;
    }
}

@media(max-height: 500px) {
    .menu-item a {
        background-size: 10%;
        font-size: 100%;
    }
}