.menu-item {
    list-style: none;
    transition: background 0.3s;
    position: relative;
    height: 100%;
    width: 100%;
}

.menu-item .menu-background {
    height: 100%;
    width: 100%;
    position: absolute;
}

.menu-item a {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    padding: 1rem;
    text-align: left;
    text-decoration: none;
    color: white;
    background-size: 10%;
    border: solid 0.1px var(--dark-blue);
}

.menu-item a p {
    color: var(--extra-white);
    
}

.menu-item a:hover {
    background: var(--menu-dark-blue);
}



