li {
    list-style: none;
}

a {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    font-size: 80%;
    text-decoration: none;
    color: white;
    transition: transform 0.5s;
}

a img {
    height: 60px;
    margin-bottom: 0.5rem;
}

a:hover {
    background: var(--dark-red);
}