.menu-button {
    height: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    color: var(--extra-white);
    background: var(--dark-blue);
    border: 0;
    cursor: pointer;
    transition: filter 0.5s;
    z-index: 999;
}

.menu-button .menu-button-icon {
    background: var(--white);
    height: 2px;
    width: 1.5rem;
    margin-right: 0.5rem;
}

.menu-button .menu-button-icon::before {
    position: absolute;
    margin-top: -0.5rem;
    left: 0.5rem;
    background: var(--white);
    height: 2px;
    width: 1.5rem;
    margin-right: 0.5rem;
    content: '';
}

.menu-button .menu-button-icon::after {
    position: absolute;
    margin-top: 0.5rem;
    left: 0.5rem;
    background: var(--white);
    height: 2px;
    width: 1.5rem;
    margin-right: 0.5rem;
    content: '';
}

.menu-button:hover{
    filter: brightness(1.2);
}

.menu {
    position: fixed;
    right: 0;
    bottom: 50%;
    top: 2.5rem;
    max-width: 360px;
    overflow: hidden;
    background: var(--menu-background);
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    transition: 0.5s;
    z-index: 2;
    left: -360px;
}

.open-menu {
    left: 0;
}