.menu-button {
    height: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    color: var(--extra-white);
    background: var(--light-blue);
    border: 0;
    cursor: pointer;
    transition: filter 0.5s;
    z-index: 999;
}

.menu-button img {
    height: 100%;
    margin-right: 0.5rem;
}

.menu-button p {
    font-size: 1rem;
}

.menu-button:hover{
    filter: brightness(1.2);
}

.menu {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 2.5rem;
    width: 100vw;
    overflow: hidden;
    background: var(--menu-background);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    transition: 0.5s;
    z-index: 2;
    left: -100vw;
}

.open-menu {
    left: 0;
}

@media(max-width: 700px) {
    .menu-button p {
        display: none;
    }
    .menu-button img {
        margin-right: 0;
    }
}

@media(max-width: 700px) {
    .menu {
        grid-template-columns: repeat(2, 1fr);
    }
}