.contact-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 6rem 6rem 6rem;
}

@media(max-width: 700px) {
    .contact-content {
        padding: 0 2rem 2rem 2rem;
    }
}

.contact-header {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 -6rem;
    margin-bottom: 3rem;
    background: var(--dark-blue);
    color: var(--white);
    padding: 6rem;
    padding-bottom: 1.5rem;
}

.contact-header p {
    margin-right: auto;
    margin-top: 1rem;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 1rem;
}

.contact-container a {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background: var(--extra-dark-blue);
    color: var(--white);
    backdrop-filter: opacity;
    height: 5rem;
    transition: background 0.5s, color 0.5s;
}

.contact-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-container a h1,
.contact-container a p {
    text-align: right;
    margin: unset;
    margin-right: 0.5rem;
}

.contact-container a h1 {
    font-size: medium;
}

.contact-container a img {
    height: 3rem;
    padding: 1rem;
    background: var(--white);
}

.contact-container a:hover {
    background: var(--white);
    color: var(--dark-blue);
}

@media(max-width: 1200px) {
    .contact-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 800px) {
    .contact-container {
        grid-template-columns: 1fr;
    }
    .contact-container a h1 {
        font-size: small;
    }
}