.resume-content {
    padding: 0 10vw 10vw 10vw;
    color: var(--white);
}

.experience-container,
.stacks-container,
.formation-container {
    padding-bottom: 10rem;
}

@media(max-width: 700px) {
    .resume-content h1 {
        margin: 0;
    }
}

.experience-container p + p {
    margin: 0.5rem 0 5rem 0;
    line-height: 1.5rem;
}

.experience-header,
.stacks-header,
.formation-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 -10vw;
    margin-bottom: 3rem;
    background: var(--extra-black);
    padding: 10vw;
    padding-bottom: 1rem;
}

.experience-header > img,
.stacks-header > img,
.formation-header > img {
    height: 3rem;
    margin-left: auto;
}

.stack-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5vw;
}

.stack-grid .stack-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stack-grid .stack-item img {
    height: 3rem;
    margin-bottom: 0.5rem;
    transition: transform 0.5s;
}

.stack-grid .stack-item img:hover {
    transform: scale(1.1);
}

.experience-container,
.formation-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
}

@media(max-width: 800px) {
    .experience-container,
    .formation-container {
        grid-template-columns: 1fr;
        gap: 6rem;
    }
}

.formation-container .formation-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.formation-container .formation-item > img {
    height: 3rem;
    margin-right: auto;
    margin-bottom: 1rem;
}

.formation-container .formation-item p + p {
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

.formation-container .formation-item a {
    text-decoration: none;
    flex-direction: row;
    height: 3rem;
    padding: 0 1rem;
    width: max-content;
    background: var(--dark-blue);
    color: var(--white);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background 0.5s, color 0.5s;
}

.formation-container .formation-item a:hover {
    background: var(--white);
    color: var(--dark-blue);
}

.formation-container .formation-item a img {
    height: 50%;
    margin: auto 0;
    margin-right: 0.5rem;
    transition: filter 0.5s;
}

.formation-container .formation-item a:hover img {
    filter: invert(100%);
}



@media(max-width: 800px) {
    .stack-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .experience-header,
    .stacks-header,
    .formation-header {
        flex-direction: column;
        align-items: left;
    }
    .experience-header > img,
    .stacks-header > img,
    .formation-header > img {
        margin: unset;
        margin-bottom: 1rem;
    }
}

@media(max-width: 400px) {
    .stack-grid {
        grid-template-columns: 1fr;
    }
}