.home-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0 10vw;
    overflow: hidden;
    height: calc(100% - 2.5rem);
    width: 100%;
}

.home-container h1,
.home-container p {
    color: var(--extra-white);
}

.home-container img {
    width: 10rem;
}

.home-container p {
    max-width: 30rem;
}

.home-container h1 {
    margin: 4rem 0;
    font-size: 3rem;
}