.home-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 6rem;
    overflow: hidden;
    height: calc(100% - 2.5rem);
    width: 100%;
}

.home-container h1,
.home-container h3,
.home-container p {
    max-width: 20rem;
    color: var(--extra-white);
}

.home-container h3 {
    margin: 3rem 0;
}