.code-content {
    padding: 0 6rem 6rem 6rem;
    color: var(--white);
    width: 100%;
}

.code-header {
    width: 100%;
    display: flex;
    margin: 0 -6rem;
    margin-bottom: 3rem;
    background: var(--dark-blue);
    padding: 6rem;
    padding-bottom: 1rem;
}

@media(max-width: 700px) {
    .code-content {
        padding: 0 3rem 3rem 3rem;
    }
}

.code-grid {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.code-grid a {
    padding: 0;
    height: 20rem;
    text-decoration: none;
    display: flex;
}

@media(max-width: 700px) {
    .code-grid a {
        height: 16.5rem
    }
}

.code-grid a h3 {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    margin-top: auto;
    margin-bottom: 0;
    background: var(--extra-dark-blue);
    color: var(--white);
    text-align: left;
    transition: background 0.5s, color 0.5s;
}

.code-grid a:hover h3 {
    background: var(--white);
    color: var(--dark-blue);
}

@media(max-width: 700px){
    .code-grid {
        grid-template-columns: 1fr;
    }
}