.window-box {
    position: fixed;
    left: 0rem;
    right: 0rem;
    top: 0;
    bottom: 0rem;
    display: flex;
    flex-direction: column;
    
    border-top: none;
    transform: scale(1);
    transition: 0.3s;
    z-index: 1;
}

.closed {
    transform: scale(0.001);
    left: 100%;
    right: -100%;
}

.window-header {
    border: 1px solid var(--dark-blue);
    background: #1373B71a;
    position: absolute;
    margin: 1px;
    height: calc(2.5rem - 2px);
    width: calc(100vw - 50%);
    max-width: 20rem;
    left: 6rem;
    padding: 0 0 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.window-header p {
    color: var(--extra-white);
    margin-right: auto;
    margin-left: 0.5rem;
}

.window-header img {
    height: 70%;
    transition: filter 0.3s;
}

.window-header img:last-child {
    cursor: pointer;
    filter: brightness(1.1);
}

.window-header img:last-child:hover {
    filter: brightness(1.5);
}

.window-box section {
    margin-top: 2.5rem;
    flex: 1;
    display: flex;
    background: var(--black);
    overflow: scroll;
    overflow-x: hidden;
}